<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/create">Go Create Product</a>
<span th:text="${msg}"></span>
<form th:action="@{/}" method="get">
    <div class="input-group">
        <div class="form-outline">
            <input class="form-control" name="keywork"/>
        </div>
    </div>
    <input class="fas fa-search btn btn-primary" type="submit" value="Search">
</form>

<table>
    <tr th:each="products : ${productList}">
        <td th:text="${products.id}"></td>
        <td th:text="${products.name}"></td>
        <td th:text="${products.price}"></td>
        <td th:text="${products.describer}"></td>
        <td th:text="${products.manufacture}"></td>
        <td><a th:href="@{/detail(id=${products.id})}">Detail</a></td>
        <td><a th:href="@{/detail/{id}(id=${products.id})}">Detail (RP)</a></td>
        <td><a th:href="@{/delete(id=${products.id})}">Delete Product</a></td>
        <td><a th:href="@{/edit(id=${products.id})}">Update Product</a></td>
        <!--        <td>-->
        <!--            <form method="POST" th:action="@{/update(id=${products.id})}">-->
        <!--                <div>-->
        <!--                    Name:-->
        <!--                    <input type="text" th:field="*{name}">-->
        <!--                </div>-->
        <!--                <div>-->
        <!--                    Price:-->
        <!--                    <input type="text" th:field="*{price}">-->
        <!--                </div>-->
        <!--                <div>-->
        <!--                    Describer:-->
        <!--                    <input type="text" th:field="*{describer}">-->
        <!--                </div>-->
        <!--                <div>-->
        <!--                    Manufacture:-->
        <!--                    <input type="text" th:field="*{manufacture}">-->
        <!--                </div>-->
        <!--                <div>-->
        <!--                    <input type="submit" value="Update">-->
        <!--                </div>-->
        <!--            </form>-->
        <!--        </td>-->
    </tr>
</table>

<div>
    <a th:if="${productList.hasNext()}" th:href="@{/(page=${productList.number - 1 }, keywork=${keyworkVal})}">
        Previous
    </a>
    <span th:text="${productList.number +1 }"></span>/<span th:text="${productList.totalPages}"></span>
        <a th:if="${productList.hasNext()}" th:href="@{/(page=${productList.number + 1 }, keywork=${keyworkVal})}">
            Next
        </a>
</div>
</body>
</html>