<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Update Product</h2>
<form action="#" th:action="@{/update}" th:object="${product}"
      method="POST" class="form-control">
    <input type="hidden" th:field="*{id}"/>
        Name:
        <input type="text" th:field="*{name}">
    </div>
    <div>
        Price:
        <input type="text" th:field="*{price}">
    </div>
    <div>
        Describer:
        <input type="text" th:field="*{describer}">
    </div>
    <div>
        Manufacture:
        <input type="text" th:field="*{manufacture}">
    </div>
    <div>
        <input type="submit" value="Update">
    </div>
</form>
</body>
</html>