<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Create User</h1>
<form action="/create" th:object="${songDto}" method="post">
    <div>Name:
        <input type="text" th:field="*{name}"/>
        <p style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
    </div>
    <div>Artist:
        <input type="text" th:field="*{artist}"/>
        <p style="color: red" th:if="${#fields.hasErrors('artist')}" th:errors="*{artist}"></p>
    </div>
    <div>Type:
        <input type="text" th:field="*{type}">
        <p style="color: red" th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></p></div>
    <button type="submit">Create</button>
</form>
</body>
</html>