<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/create">Go Create Song</a>
<table>
    <tr th:each="songs : ${songList}">
        <td th:text="${songs.name}"></td>
        <td th:text="${songs.artist}"></td>
        <td th:text="${songs.type}"></td>
        <td><a th:href="@{/edit(id=${songs.id})}">Update Song</a></td>
    </tr>
</table>

<div>
    <a th:if="${songList.hasPrevious()}" th:href="@{/(page=${songList.number - 1 })}">
        Previous
    </a>
    <span th:text="${songList.number +1 }"></span>/
    <span th:text="${songList.totalPages}"></span>
    <a th:if="${songList.hasNext()}" th:href="@{/(page=${songList.number + 1 })}">
        Next
    </a>
</div>
</body>
</html>