<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="#" method="post" th:action="@{/rent}" th:object="${bookLists}">
<div>
    <input type="hidden" th:field="*{id}"/>
</div>
        <div>
            Name:
            <input type="text" th:field="*{name}"/>
        </div>
        <div>
            Quantity:
            <input type="text" th:field="*{quantity}"/>
        </div>
        <input type="submit" value="Rent">
    </form>
    <form action="#" method="post" th:action="@{/give}">
        <input type="text" name="idRent">
        <input type="submit" value="Give Back">
    </form>

</div>
</form>
</div>
</body>
</html>