<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{layout :: css}"></th:block>
    <th:block th:replace="~{layout :: top-bootstrap}"></th:block>
</head>
<body>

<table class="table align-middle mb-0 bg-white">

    <thead class="bg-light">
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-6">
            <form action="/order/list" method="get">
                <h3>Search</h3>
                <!-- Name input -->
                <div class="form-outline mb-4">
                    <input type="date" id="form1Example1" class="form-control" name="dayStart"/>
                    <label class="form-label" for="form1Example1">Day Start Search</label>
                </div>
                <!-- Phone input -->
                <div class="form-outline mb-4">
                    <input type="date" id="form1Example2" class="form-control" name="dayEnd"/>
                    <label class="form-label" for="form1Example2">Day End Search</label>
                </div>
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block">Search</button>
            </form>
        </div>
        <div class="col-3"></div>
    </div>

    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-6">
        </div>
        <div class="col-3"></div>
    </div>
    <tr>
        <th>#</th>
        <th>Order code</th>
        <th>Product Name</th>
        <th>Price</th>
        <th>Product type</th>
        <th>Date</th>
        <th>Amount</th>
        <th>Total</th>
        <th>Edit</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="order,loop : ${orders}">
            <td th:text="${loop.count}"></td>
            <td>
                <div class="d-flex align-items-center">
                    <div class="ms-3">
                        <p class="fw-bold mb-1" th:text="${order.id}"></p>
                    </div>
                </div>
            </td>
            <td>
                <div class="ms-3">
                    <p class="fw-bold mb-1" th:text="${order.product.name}"></p>
                </div>
            </td>
            <td>
                <div class="ms-3">
                    <p class="fw-bold mb-1" th:text="${order.product.price}"></p>
                </div>
            </td>
            <td>
                <div class="ms-3">
                    <p class="fw-bold mb-1" th:text="${order.product.productType.name}"></p>
                </div>
            </td>
            <td>
                <div class="ms-3">
                    <p class="fw-bold mb-1" th:text="${order.date}"></p>
                </div>
            </td>
            <td>
                <div class="ms-3">
                    <p class="fw-bold mb-1" th:text="${order.amount}"></p>
                </div>
            </td>
            <td>
                <div class="ms-3">
                    <p class="fw-bold mb-1" th:text="${order.amount}*${order.product.price}"></p>
                </div>
            </td>
            <td>
                <div class="ms-3">
                    <a th:href="@{/order/update(id=${order.id})}">Update Customer</a>
                </div>
            </td>
        </tr>
<!--    th:text="${#numbers.formatDecimal(total.total, 0, 'COMMA', 0, 'POINT')}-->
    </tbody>
</table>

<div>
    <a th:if="${orders.hasPrevious()}"
       th:href="@{/order/list(page=${orders.number - 1 },sort=${sortBy},dayStart=${start},dayEnd=${end})}">
        Previous
    </a>
    <span th:text="${orders.number +1 }"></span>/<span th:text="${orders.totalPages}"></span>


    <a th:if="${orders.hasNext()}" th:href="@{/order/list(page=${orders.number + 1},sort=${sortBy},dayStart=${start},dayEnd=${end})}">
        Next
    </a>
</div>

<th:block th:replace="~{layout :: bot-bootstrap}"></th:block>
</body>
</html>