<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{layout :: css}"></th:block>
    <th:block th:replace="~{layout :: top-bootstrap}"></th:block>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap4.min.css">
</head>
<body>
<table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
    <tr>
        <th>Name</th>
        <th>Date Of Birth</th>
        <th>Id Card</th>
        <th>Salary</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Address</th>
        <th>Position</th>
        <th>Education</th>
        <th>Division</th>
        <th>Edit</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employees : ${employee}">
        <td>
            <div class="d-flex align-items-center">
                <div class="ms-3">
                    <p class="fw-bold mb-1" th:text="${employees.employeeName}"></p>
                </div>
            </div>
        </td>
        <td>
            <div class="ms-3">
                <p class="fw-bold mb-1" th:text="${employees.employeeBirth}"></p>
            </div>
        </td>
        <td>
            <div class="ms-3">
                <p class="fw-bold mb-1" th:text="${employees.employeeIdCard}"></p>
            </div>
        </td>
        <td>
            <div class="ms-3">
<!--                <p class="fw-bold mb-1" th:text="${employees.employeeSalary}"></p>-->
                <p class="fw-bold mb-1" th:text="${#numbers.formatDecimal(employees.employeeSalary, 0, 'COMMA',0,'POINT')}"></p>
            </div>
        </td>
        <td>
            <div class="ms-3">
                <p class="fw-bold mb-1" th:text="${employees.employeePhone}"></p>
            </div>
        </td>
        <td>
            <div class="ms-3">
                <p class="fw-bold mb-1" th:text="${employees.employeeEmail}"></p>
            </div>
        </td>
        <td>
            <div class="ms-3">
                <p class="fw-bold mb-1" th:text="${employees.employeeAddress}"></p>
            </div>
        </td>
        <td>
            <div class="ms-3">
                <p class="fw-bold mb-1" th:text="${employees.position.positionName}"></p>
            </div>
        </td>
        <td>
            <div class="ms-3">
                <p class="fw-bold mb-1" th:text="${employees.education.educationDegreeName}"></p>
            </div>
        </td>
        <td>
            <div class="ms-3">
                <p class="fw-bold mb-1" th:text="${employees.division.divisionName}"></p>
            </div>
        </td>
        <td>
            <div class="ms-3">
                <a th:href="@{/employee/update(id=${employees.employeeId})}">Update Employee</a>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<div>
    <a th:if="${employee.hasPrevious()}"
       th:href="@{/employee/list(page=${employee.number - 1 })}">
        Previous
    </a>
    <span th:text="${employee.number +1 }"></span>/<span th:text="${employee.totalPages}"></span>
    <a th:if="${employee.hasNext()}" th:href="@{/employee/list(page=${employee.number + 1 })}">
        Next
    </a>
</div>
<th:block th:replace="~{layout :: bot-bootstrap}"></th:block>
</body>
</html>